<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body>
   
    <div class="container">
        <div class="title">
            <div id="lightHeader">
                    spatial
                </div>
                <div id= "darkHeader">
                    gerrymandering
                </div>
        </div>
        <a class="arrow-wrap" href="#about">
            <span class="arrow"></span>
            <!--<span class="hint">scroll</span>-->
        </a>

        <div class = "about" id = "about">
            <h1> What is this about?</h1>
            <p>
                In the process of setting electoral districts, gerrymandering is a practice intended to establish a political advantage for a particular party or group by manipulating district boundaries. The resulting district is known as a gerrymander (/ˈdʒɛriˌmændər/, recently changed from the original /ˈɡɛriˌmændər/); however, that word can also refer to the process. The term gerrymandering has negative connotations. Two principal tactics are used in gerrymandering: "cracking" (i.e. diluting the voting power of the opposing party's supporters across many districts) and "packing" (concentrating the opposing party's voting power in one district to reduce their voting power in other districts).[1]
                In addition to its use achieving desired electoral results for a particular party, gerrymandering may be used to help or hinder a particular demographic, such as a political, ethnic, racial, linguistic, religious, or class group, such as in U.S. federal voting district boundaries that produce a majority of constituents representative of African-American or other racial minorities, known as "majority-minority districts". Gerrymandering can also be used to protect incumbents.
            </p>
            <div class = "button">
                    See an example
            </div>
        </div>
    </div>

</body>
</html>
<script>
$(window).scroll( function(){

    var topWindow = $(window).scrollTop();
    var topWindow = topWindow * 1.5;

    var windowHeight = $(window).height();
        
    var position = topWindow / windowHeight;
    position = 1 - position;

    $('.arrow-wrap').css('opacity', position);

});

</script>