<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body class="w3-light-grey">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
     <div class="w3-container">
       <h5>Select Measure Boundaries</h5>
      <select id="boundarySelect" onchange="changeBoundary()">
        <option value="original">Original Gerrymander
        <option value="median">Median
        <option value="custom">Custom
      </select>

      <div id="boundaryType"></div>
      <div id="customBoundarySelect" style="display: none;">
        Reock: <input type="text" id="reockBoundary" placeholder="0.5"><br>
        Polsby-Popper: <input type="text" id="polsbyPopperBoundary" placeholder="0.5"><br>
        Schwartzberg: <input type="text" id="schwartzbergBoundary" placeholder="0.5"><br>
        Convex-Hull: <input type="text" id="convexHullBoundary" placeholder="0.5"><br>
        Length-Width: <input type="text" id="lengthWidthBoundary" placeholder="0.5"><br>
        X-Symmetry: <input type="text" id="xSymmetryBoundary" placeholder="0.5"><br>
        <input type="submit" value="Submit" onclick = "getBoundaryInput()">
      </div>
       <h5>Map Types</h5>
      </div>

     <div id="div-nav-drawer" class="w3-bar-block">
       <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>

     </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">


     <div class="w3-panel">
       <div class="w3-row-padding" style="margin:0 -16px">
         <br><div id="map"></div>
           <div id="div-graphs" class="w3-twothird">
             <table id = "districtTable" class="mdl-data-table">
                <thead>
                    <tr>
                      <th>District</th>
                      <th>Reock</th>
                      <th>Polsby-Popper</th>
                      <th>Schwartzberg</th>
                      <th>X-Symmetry</th>
                      <th>Length-Width</th>
                      <th>Convex-Hull</th>
                    </tr>
                </thead>
                <tbody id="districtTableBody"></tbody>
              </table>
           </div>
           <div id="div-metrics" class="w3-third">
             <h5>District Information</h5>
             <div id = "barChart"></div><br>
             <div id = "lengthwidthBarChart"></div>
           </div>
         </div>
       </div>
     </div>

    <script>
    $(document).ready(function() {
        var ncrGeoJSONDump =  "<%= geoDump %>";
        var dataObj = JSON.parse(ncrGeoJSONDump.replace(/&#34;/g, '"'));

        initializeTable(dataObj);
        initMap();

        //highlight row and generate charts on hover
        $('#districtTableBody tr').hover(function(){
            var district = $(this).attr('id');
            highlightDistrict(district);
            districtChart(district, dataObj);
            averageChart(district, dataObj);

            //highlighting the rows with the good/bad/ok colors
            $(`.boxable${district}[data-color="good"]`).css('background-color', '#99ff99');
            $(`.boxable${district}[data-color="bad"]`).css('background-color', '#ff6666');
           

        }, function(){
            resetAllHighlights();
            var district = $(this).attr('id');

            //reset all color highlights
            $(`.boxable${district}`).css('background-color', '');
        });
    });

    $('#boundaryType').html("Now displaying original boundaries.<br>Reock: 0.289<br>Polsby-Popper: 0.095<br>Schwartzberg: 0.308<br>Convex-Hull: 0.494<br>X-Symmetry: 0.600<br>Length-Width: 0.600");


    </script>
  </body>
</html>
